<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
          <h1 style="color: #563d7c;">Loyalty</h1>
          <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com">
            </div>
            <div class="form-group">
              <label for="key" class="sr-only">Password</label>
              <input [type]="showpswd ? 'text':'password'" name="key" id="key" class="form-control" placeholder="Password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" (click)="showPassword()">Show password</label>
            </div>
            <input type="submit" style="background: #563d7c;" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
          </form>
          <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
          <hr>
          <div class="a-divider a-divider-break"><h5>New to Loyalty?</h5></div>
          <span id="auth-create-account-link" class="btn btn-custom btn-lg btn-block" style="    background: #563d7c;
          border-radius: 3px;
          border-color: #adb1b8 #a2a6ac #8d9096;
          border-style: solid;
          border-width: 1px;
          cursor: pointer;
          display: inline-block;"><span class="a-button-inner"><a  routerLink="/register" style="color:white" id="createAccountSubmit" tabindex="6" class="a-button-text" role="button">
            Create your Loyalty account
          </a></span></span>
        </div>
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Recovery password</h4>
      </div>
      <div class="modal-body">
        <p>Type your email account</p>
        <input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-custom">Recovery</button>
      </div>
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->