<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap" style="border: 1px solid #ddd;padding: 14px 18px;border-radius: 4px">
          <h1 style="color: #563d7c;">Create Account</h1>
          <form>
            <div class="form-group">
              <label for="name">Your name</label>
              <input id="name" name="name" class="form-control" required minlength="4" appForbiddenName="bob"
                [(ngModel)]="userObj.name" >
            </div>
            <div class="form-group">
              <label for="mobile">Mobile number</label>
              <div class="row">
                <div class="col-sm-4">
                  <input type="text" class="form-control" placeholder="+91" name="c_code" [(ngModel)]="userObj.c_code"
                    required>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="userObj.mobile" name="mobile" placeholder="Number"
                    required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" [(ngModel)]="userObj.email" name="email" id="email"
                aria-describedby="email" placeholder="Enter email" required>
              <!-- <small id="na" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="userObj.password" id="exampleInputPassword1"
                placeholder="Password" required>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <button type="submit" (click)="registerUser()" style="background-color: #563d7c;color: white" class="btn btn">Register</button>
                </div>
                <div class="col-sm-8" style="margin-top: 10px">
                  <a routerLink="/login" class="a-button-inner">All ready have
                    a account?</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>